.toggle_button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* the flex-direction column makes the div pile up on top of each other */
    /* the space between makes some spaces between divs */
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    margin-left: 10px;
    /* box sizing to make sure the lines stay inside the button */
}

.toggle_button:focus {
    outline: none;
}

.toggle_button_line {
width: 30px;
height: 2px;
background: white;
}