.landingPageContainer {
    background-color: black;
    color: white;
    height: 100vh;
}

.landpagewrap {
    margin: 0;
    /* height: 100vh; */
    /* background: -webkit-gradient(linear, left top, left bottom, from(rgb(88, 89, 184)), to(rgb(109, 126, 148))) fixed; */
    /* background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(77, 19, 209, 1))) fixed; */
    }

.logocont2 {
    display: flex;
    justify-content: center;
}

.logoimghome {
    width: 190px;
    height: 190px;
    position: absolute;
    display: inline-block;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    /* border-radius: 50%; */
    background: transparent;
    z-index: 1;
  }

.logoimghome3 {
    width: 190px;
    height: 190px;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    /* border-radius: 50%; */
    z-index: 1;
    background: transparent;
}

.logocirclewrap2 {
    width: 180px;
    height: 180px;
    background: rgb(204, 203, 203);
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    position: relative;
    margin: 0;
    border-radius: 20px;
    /* border-style: solid;
        border-width: 10px;
    border-color: rgba(22, 20, 54, 0.5); */
    overflow: hidden;
    box-shadow: 1px 0px 7px rgb(12, 12, 12, 0.5);

}

.logocirclewrap3 {
    width: 180px;
    height: 180px;
    background: rgb(204, 203, 203);
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    position: relative;
    margin: 0;
    border-radius: 20px;
    /* border-style: solid;
        border-width: 10px;
    border-color: rgba(22, 20, 54, 0.5); */
    overflow: hidden;
    box-shadow: 1px 0px 7px rgb(12, 12, 12, 0.5);

}

.descwrap1 {
    justify-content: center;
    display: flex;
  }
  
  .descwrap2 {
  width: 400px;
  color: white;
  font-size: 18px;
  }

  .landpagediv {
    padding: 1rem;
    color: white;
  }
  
  .landnow a {
    text-decoration: none;
    font-size: 1.2rem;
    background-color: blue;
    color: white;
  }
  
  .landnotnow a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 1.2rem;
  }

  .loginsignupbtnhomewrap {
    justify-content: center;
    display: flex;
  }
  
  .loginsignupbtnhome {
  border-style: solid;
  border-width: 1px;
  background-color: transparent;
  font-size: 22px;
  font-family: 'Lato', sans-serif;
  color: white;
  border-radius: 50px;
  width:180px;
  padding: 0;
  outline: none;
  
  }
  
  .loginsignupbtnhome:hover,
  .loginsignupbtnhome:focus {
    color: white;
    background-color: rgb(127, 127, 206);
    border-style: none;
  
    /* -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);  */
  } 

  .linkLand {
      text-decoration: none;
      outline: none;
  }

  /* .linkLand:focus {
    color: white;
    background-color: rgb(127, 127, 206);
    border-style: none;
  } */

/* -------------------------------------- */