body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

html {
    height: 100%;
}


.circlesContainer {
    margin: 0 auto;
    margin-top: 100px;
    max-width: 900px;
}

.square {
    min-width: 100px;
    background-color: purple;
    min-height: 100px;
    margin-left: 1.66%;
    margin-top: 1.66%;
        border-radius: 50%;
    
    transition: background-color 0.6s;
    -webkit-transition: background-color 0.6s;
    -moz-transition: background 0.6s;
    box-shadow: 2px 0px 5px 2px rgb(15, 15, 15);
    -webkit-box-shadow: 2px 0px 5px 2px rgb(15, 15, 15);
    -moz-box-shadow: 2px 0px 5px 2px rgb(15, 15, 15);
    
};

.textWrap {
    margin-top: 100px;
      color: blueviolet;
    font-size: 200em;
}


/* .container {
    background-color: pink;
    display: inline-block;
    width: 30%;
    border-radius: 50%;
    margin-left: 1.66%;
    margin-top: 1.66%;
} */

.mainpagewrap {

    margin-top: 100px;
    height: 100vh;
    justify-content: center;
    display: flex;
}

/* .circles {
    width: 100%;
display: flex;
justify-content: space-between;
    overflow: auto;
    margin-top: 50px;
} */


.three-circles {
    width: 250px;
    height: 250px;
    background: rgb(63, 53, 53);
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 0px;
    transition: transform .2s;
}

.me-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
}
.three-circles:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
    
}
.btn1 {
    background-color: rgb(106, 106, 175);
    border-style: none;
    border-color: transparent;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    cursor: pointer;
}

.btn1:hover {
    background-color: rgb(140, 180, 206);
}
.btn1:active {
    background-color: rgb(235, 134, 134);
    
}
.btn1:focus {
    background-color: rgb(226, 112, 112);
}

button {
    cursor: pointer;
}

.front-names {
    font-size: 30px;
    color: white;
}



